body {
  font-family: sans-serif;
  /*background-image: url("/static/img/myimg.png");*/
  background-color: #DAF2FC;

}

.quote-mybar {
  display: inline-block;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  text-decoration: none;
}

.quote-mybar:hover {
  background-color: #e0e0e0;
}


.quote {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 2px 2px 3px #045C3C;
  background-color: #F9FCCF;
}

.quote small.author {
  font-weight: bold;
  color: #3677E8;
}

.quote span.text {
  display: block;
  margin-bottom: 5px;
  font-size: large;
  font-style: italic;
}



.quote .tags {
  margin-top: 10px;
}

.tag {
  padding: 2px 5px;
  border-radius: 5px;
  color: white;
  font-size: small;
  background-color: #7CA3E6;
}

.pager {
    font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.pager {
    padding-left: 0;
    margin: 22px 0;
    list-style: none;
    text-align: center;
}

.pager li {
    display: inline;
}
.pager .previous {
    float: left;  /* Move the "Previous" button to the left side */
}

.pager .next>a, .pager .next>span {
    float: right;
}



.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
}

.disabled {
    color: #333333;
    /*text-decoration: none;*/
    cursor: not-allowed;
}

